# ============================================
# Git игнор
# ============================================

# Виртуальное окружение
venv/
.venv/
env/

# Переменные окружения (секреты!)
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log

# OS
.DS_Store
Thumbs.db
